<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

 <localRepository>/MAPFRE-localrepo</localRepository>
 
 <profiles></profiles>
    
  <mirrors>
		<mirror>
			<id>nexus</id>
			<mirrorOf>*</mirrorOf>
			<url>https://nexuspro.mapfreusa.com/repository/maven-proxy-group/</url>
		</mirror>
   </mirrors>
  
  <servers>
   <server>
      <id>nexus_deployments</id>
      <username>88jpY3XH</username>
      <password>x82x44FnXVfhYDgi3QiWaOwXEcDgwMWT0zU4PA0sMSMD</password>
    </server>
  </servers>
</settings>
